<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragments="cardFerramenta(f)" class="card">
            <div class="card-body">
                <h5 th:text="${f.nome}">Nome</h5>
                <div class="progress">
                    <div class="progress-bar"
                         th:style="'width: '+${f.percentualDesgaste} + '%'"
                         th:classapend="${f.percentualDesgaste>80} ? 'bg-danger':
                                        (${f.percentualDesgaste>50} ? 'bg-warning' : 'bg-success')">
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
